{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.2/css/all.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.2/css/v4-shims.css">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/register.css' %}">
   <title>
      {% block title %}
      {% endblock %}
      </title>
    </head>
  <body style="background: url({% static 'accounts/login_back.jpg' %});background-repeat:no-repeat; background-size:auto;" alt="логотип">
    <nav class="navbar navbar-expand-lg navbar-light" style="background-color:white">
     <div class="collapse navbar-collapse" id="navbarNav">
       <ul class="navbar-nav">
         {% if user %}
        <li class="nav-item">
         <a class="nav-link" href="{% url 'city_search' %}" style="margin-top:7px;color:black;font-size:16px;">Главная страница</a>
         </li>
         {% endif %}
         {% if user %}
         <li class="nav-item">
          <a class="nav-link" href="{% url 'user' user.login%}" style="margin-top:7px;color:black;font-size:16px;">Аккаунт</a>
          </li>
          {% endif %}
          {% if user %}
          <li class="nav-item">
           <a class="nav-link" href="{% url 'users' %}" style="margin-top:7px;color:black;font-size:16px;">Все пользователи</a>
           </li>
           {% endif %}
           {% if user %}
           <li class="nav-item">
            <a class="nav-link" href="{% url 'cities' %}" style="margin-top:7px;color:black;font-size:16px;">Все города</a>
            </li>
            {% endif %}
          {% if not user%}
          <li class="nav-item">
           <a class="nav-link" href="{% url 'register'%}" style="margin-top:7px;color:black;font-size:16px;">Регистрация</a>
           </li>
           {% endif%}
           {% if not user %}
           <li class="nav-item">
            <a class="nav-link" href="{% url 'login' %}" style="margin-top:7px;color:black;font-size:16px;">Вход</a>
            </li>
            {% endif %}
            {% if user %}
            <li class="nav-item">
             <a class="nav-link" href="{% url 'index' %}" style="margin-top:7px;color:black;font-size:16px;">Выход</a>
             </li>
             {% endif %}
         </ul>
       </div>
     </nav>
    {% block content %}
    {% endblock %}
    </body>
</html>
