{% extends "general/index.html" %}
{% block content %}
{% load static %}
<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>Display a popup on click</title>
<meta name="viewport" content="initial-scale=1,maximum-scale=1,user-scalable=no">
<link href="https://api.mapbox.com/mapbox-gl-js/v2.1.1/mapbox-gl.css" rel="stylesheet">
<script src="https://api.mapbox.com/mapbox-gl-js/v2.1.1/mapbox-gl.js"></script>
<style>
body { margin: 0; padding: 0; }
#map { position: absolute; top: 15%; bottom: 0; width: 50%; height: 50%; }
</style>
</head>
<body>
<style>
.mapboxgl-popup {
max-width: 400px;
font: 12px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
}
</style>
<form method='post' enctype="multipart/form-data">{% csrf_token %}
    <label>City you want to find :</label>
    <input type="text" name="search" id="search"/>
    <button type = "submit">Search</button>
</form>
<div id="map"></div>
<script>
	mapboxgl.accessToken = 'pk.eyJ1IjoibXlzeXEiLCJhIjoiY2ttbThvOTFuMWluNjJ2bDhseGpydWtzeSJ9.IIvNiR1_7gRw2EcZ_Gfzdw';
var map = new mapboxgl.Map({
container: 'map',
style: 'mapbox://styles/mapbox/streets-v11',
center: [{{ user.living_city.longitude }}, {{ user.living_city.latitude }}],
zoom: 0.5
});

map.on('load', function () {
map.addSource('places', {
'type': 'geojson',
'data': {
'type': 'FeatureCollection',
'features': [
{% for city in cities %}
{
'type': 'Feature',
'properties': {
'description':
'<p><strong>{{ city.name }}</strong></p><p> Total amount of residents: {{ city.residents.count }}</p><p> Visit <a href="{% url 'city' city.slug %}" target="_blank" title="Opens in a new window"> {{city.name}} </a> page to know more info </p>',
'icon': 'campsite'
},
'geometry': {
'type': 'Point',
'coordinates': [{{city.longitude}}, {{city.latitude}}]
}
},
{% endfor %}
]
}
});
// Add a layer showing the places.
map.addLayer({
'id': 'places',
'type': 'symbol',
'source': 'places',
'layout': {
'icon-image': '{icon}-15',
'icon-allow-overlap': true
}
});

// When a click event occurs on a feature in the places layer, open a popup at the
// location of the feature, with description HTML from its properties.
map.on('click', 'places', function (e) {
var coordinates = e.features[0].geometry.coordinates.slice();
var description = e.features[0].properties.description;

// Ensure that if the map is zoomed out such that multiple
// copies of the feature are visible, the popup appears
// over the copy being pointed to.
while (Math.abs(e.lngLat.lng - coordinates[0]) > 180) {
coordinates[0] += e.lngLat.lng > coordinates[0] ? 360 : -360;
}

new mapboxgl.Popup()
.setLngLat(coordinates)
.setHTML(description)
.addTo(map);
});

// Change the cursor to a pointer when the mouse is over the places layer.
map.on('mouseenter', 'places', function () {
map.getCanvas().style.cursor = 'pointer';
});

// Change it back to a pointer when it leaves.
map.on('mouseleave', 'places', function () {
map.getCanvas().style.cursor = '';
});
});
</script>

</body>
</html>
{% endblock %}
