.input-field {
    display: block;
    width: 100%;
    border: none;
    outline: none;
    background: none;
    padding: 15px 0px;

    color: #FFF;
    font-size: 18px;

    &.valid {
     color: #44E444;
    }

    &.invalid {
     color: #FF0000;
    }
}
