{% extends "general/index.html" %}
{% load static %}
{% block content %}
{% if message %}
<h1> {{message}} </h1>
{% endif %}
<p>
  About you:
</p>

<label id = "user_login" class = "hidden">{{user.login}}</label>

<form id = 'data_edit_form' method="post" enctype="multipart/form-data">{% csrf_token %}
  <label>Your name: </label>
  <input type="text" name="name" value="{{user.name}}"><br>
  <label>Your surname: </label>
  <input type="text" name="surname" value="{{user.surname}}"><br>
  <label>Your email: </label>
  <input type="text" name="email" value="{{user.email}}"><br>
  <label>Your password: </label>
  <input type="text" name="password" value="{{user.password}}"><br>
  <label>Tiktok link: </label>
  <input type="text" name="tiktok" value="{{user.tiktok_link}}">
  <label id = "tiktok_label" class = "hidden" > Tiktok link is invalid </label><br>
  <label>Vk link: </label>
  <input type="text" name="vk" value="{{user.vk_link}}">
  <label id = "vk_label" class = "hidden" > Vk link is invalid </label><br>
  <label>Instagram link: </label>
  <input type="text" name="instagram" value="{{user.instagram_link}}">
  <label id = "instagram_label" class = "hidden" > Instagram link is invalid </label><br>
  <label>Facebook link: </label>
  <input type="text" name="facebook" value="{{user.facebook_link}}">
  <label id = "facebook_label" class = "hidden" > Facebook link is invalid </label><br>
  <label>Twitter link: </label>
  <input type="text" name="twitter" value="{{user.twitter_link}}">
  <label id = "twitter_label" class = "hidden" > Twitter link is invalid </label><br>
  <p>
    <h5><-------------------ROLES-------------------></h5>
    <p>
      <input type="checkbox" name = "is_highschooler" {% if user.is_highschooler%} checked {% endif %}>Highshool Stuent<Br>
      <input type="checkbox" name = "is_student" {% if user.is_student%} checked {% endif %}>University Student<Br>
      <input type="checkbox" name = "is_worker" {% if user.is_worker %} checked {% endif %}>Worker<Br>
    </p>
    <h5><-------------------ROLES-------------------></h5>
    <h5><-------------------INTERESTS-------------------></h5>
    <p>
      {% for interest in user.interest %}
        <input type="checkbox" name="checks" value="{{interest}}" {% if interest in checked_interests %} checked {% endif %}/> {{ interest }} <Br>
      {% endfor %}
    </p>
    <h5><-------------------INTERESTS-------------------></h5>
  <h5><-------------------CITY CHOICE-------------------></h5>
  <p><label> Your living city:</label>
    <template id="resultstemplate_city">
      {% for city in cities %}
        <option>{{ city.name }}</option>
      {% endfor %}
    </template>
  <input value="{{user.living_city.name}}" type="text" name="city_choice" id="search_city" class = 'input_field_city' list="searchresults_city" autocomplete="off" />
  <datalist id="searchresults_city"></datalist>
  <label id = "city_label" class = "hidden"> LOL </label>
  </p>
  <h5><-------------------CITY CHOICE-------------------></h5>
  <p/>
  <p>
  <h5><-------------------OCCUPATION-------------------></h5>
  <p><label> Your occupation:</label>
    <template id="resultstemplate">
      {% for occupation in occupations %}
        <option>{{ occupation.name }}</option>
      {% endfor %}
    </template>
  <input value="{{user.occupation.name}}" type="text" name="occupation_choice" id="search" class = 'input_field' list="searchresults" autocomplete="off" />
  <datalist id="searchresults"></datalist>
  <label id = "occupation_label" class = "hidden">
    Did you mean <a href="javascript:;" id = "occupation_link"> LOL </a> ?
  </label>
  </p>
  <h5><-------------------OCCUPATION-------------------></h5>
  </p>
  {% if user.living_city %}
  <label> Do you want to be a guide? </label>
  <p>
  <input type="radio" name="yes">Yes</input>
  </p>
  <p>
  <input type="radio" name="no">No</input>
  </p>
  {% endif %}
  <p>
  <h4> To edit your data: </h4>
  <input id = "edit_button" name = "change_form" type = "submit"> </input>
  </p>
</form>
<label id = "edit_label"></label>

{% if friends %}

<h5><-------------------FRIENDS-------------------></h5>

<label>Your friend list: </label>

{% for friend in friends %}
<p>
  <div class="card w-50">
  <div class="card-body">
    <h5 class="card-title">Login: {{friend.login}}</h5>
    <h5 class="card-title">Name: {{friend.name}} {{friend.surname}}</h5>
    <p class="card-text"></p>
    <p>
    <a href="{% url 'user' friend.slug %}" class="btn btn-primary">Users page</a>
    <form id = "delete_form" enctype="multipart/form-data" method = "post">{% csrf_token %}
      <input type="hidden" name="delete_input" value="{{friend.id}}"/>
      <p>
      <button name = "delete_friend" type = "submit"> Delete friend </button>
      </p>
    </form>
    </p>
  </div>
</div>
</p>

{% endfor %}
<h5><-------------------FRIENDS-------------------></h5>

{% endif %}

{% if recieved_requests %}

<h5><-------------------FRIEND REQUESTS-------------------></h5>

<label> Users that want to add you to friends: </label>

{% for request in recieved_requests %}
<p>
  <div class="card w-50">
  <div class="card-body">
    <h5 class="card-title">{{request.from_user.login}}</h5>
    <h5 class="card-title">{{request.from_user.name}} {{request.from_user.surname}} wants too add you to FRIENDS</h5>
    <p class="card-text"></p>
    <p>
    <a href="{% url 'user' request.from_user.slug %}" class="btn btn-primary">Users page</a>
    <form id = "request_form" enctype="multipart/form-data" method = "post">{% csrf_token %}
      <input type="hidden" name="request_input" value="{{request.from_user.id}}"/>
      <p>
      <button name = "accept" type = "submit"> Accept </button>
      <button name = "decline" type = "submit"> Decline </button>
      </p>
    </form>
    </p>
  </div>
</div>
</p>

<h5><-------------------FRIEND REQUESTS-------------------></h5>

{% endfor %}
{% endif %}



<script type="text/javascript" src={% static "js/user_account1.js" %}></script>
{% endblock %}
