{% extends "general/index.html" %}
{% block content %}

<h1> Your notifications: </h1>

<p>
  <form id = "notification_form" enctype="multipart/form-data" method = "post">{% csrf_token %}
    <p>
    <button name = "accept" type = "submit"> Delete all </button>
    </p>
  </form>
</p>

{% for notification in notifications %}
<p>
  <div class="card w-50">
  <div class="card-body">
    <h4 class="card-title"> {{ notification.tag }}</h4>
    <p class="card-text"></p>
    <p>
    {{ notification.message }}
    </p>
  </div>

</div>
</p>
{% endfor %}

{% endblock %}
