{% extends "general/index.html" %}
{% block content %}
{% load static %}
<head>
  <link rel="stylesheet" type="text/css" href="{% static 'css/user.css' %}">
</head>
<p>
  <h4>this is {{account.name}} {{account.surname}} page</h4>
</p>
{% if account.living_city %}
<p>
  <h4>{{account.name}} lives in {{account.living_city}}</h4>
</p>
{% else %}
<p>
  <h4>{{account.name}} does not live anywhere</h4>
</p>
{% endif %}
<p>
<h4>
  <p>
  {{account.name}} roles:

  {% if account.is_highschooler %}
  <p><label>Highshool Student</label></p>
  {% endif %}

  {% if account.is_student %}
  <p><label>University Student</label></p>
  {% endif %}

  {% if account.is_worker%}
  <p><label>Worker</label></p>
  {% endif %}
  </p>
</h4>
</p>
{% if not request_exists %}
<p>
  <div class="card w-50">
  <div class="card-body">
    <h5 class="card-title">{{account.login}}</h5>
    <h5 class="card-title">{{account.name}} {{account.surname}}</h5>
    <p class="card-text">{{account.description}}</p>
    <p>
    <form id = "request_form" enctype="multipart/form-data" method = "post">{% csrf_token %}
      <input type="hidden" name="resident_id" value="{{account.id}}"/>
      <button name = "request_button" type = "submit">Friend request</button>
    </form>
  </p>
  </div>
</div>
</p>
{% endif %}
{% if are_friends %}
<h4> Your friend </h4>
{% if is_guide %}
<h4> {{ account.name }} is a guide, therefore friendly </h4>
{% endif %}
<p></p>
<p>
{% if account.facebook_link or account.twitter_link or account.vk_link or account.instagram_link or account.tiktok_link %}
<h4> {{ account.name }}'s social media links: </h4>
{% endif %}
{% if account.facebook_link %}
<a href="{{ account.facebook_link }}" class="fa fa-facebook"></a>
{% endif %}
{% if account.twitter_link %}
<a href="{{ account.twitter_link }}" class="fa fa-twitter"></a>
{% endif %}
{% if account.vk_link %}
<a href="{{ account.vk_link }}" class="fa fa-vk"></a>
{% endif %}
{% if account.instagram_link %}
<a href="{{ account.instagram_link }}" class="fa fa-instagram"></a>
{% endif %}
{% if account.tiktok_link %}
<a href="{{ account.tiktok_link }}" id = 'tiktok'><i class="fab fa-tiktok"></i></a>
{% endif %}
</p>
<p>
  <h4> {{ account.name }}'s occupation: {{ account.occupation }} </h4>
</p>
{% else %}
<label> Add {{account.name}} to friends to see more information </label>
{% endif %}
{% endblock %}
